# build directories
bin/

# gradle
.gradle/

# intellij
*.iml
.idea/

# xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# windows
ehthumbs.db
Thumbs.db
Desktop.ini

# mac
Icon
.DS_Store