# build directories
build/
release/
sources/actionscript/**/doc/
sources/android/gen/

# personal files
user.properties
project.properties

# gradle
.gradle/

# intellij
*.iml
.idea/

# xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# windows
ehthumbs.db
Thumbs.db
Desktop.ini

# mac
Icon
.DS_Store