<?xml version="1.0" encoding="utf-8" ?>
<platform xmlns="http://ns.adobe.com/air/extension/13.0">
	<description>${ios.lib.description}</description>
	<copyright>${product.copyright}</copyright>
	<sdkVersion>5.1</sdkVersion>
	<linkerOptions>
		<option>-ios_version_min 4.3</option>
		<option>-framework CoreData</option>
		<option>-framework SystemConfiguration</option>
	</linkerOptions>
</platform>